---
import '../main.css';
import Table from '../components/Table.astro';
import { terrenos } from '../fakeDataBase/terrenos';
import { armaTierra,rangoMilitar } from '../fakeDataBase/armas';
import { rangosConstruccion, tablaAportes } from '../fakeDataBase/macroEstructuras';
import { costeYBeneficios } from '../fakeDataBase/macroEstructuras';
import { macroEstructuras } from '../fakeDataBase/macroEstructuras';
import { unidadMilitar } from '../fakeDataBase/unidadMilitar'
---

<div id="container">
	<main>
		<section>
			<h2>
				Terrenos	
			</h2>
			<span>
				Cada pais tiene regiones, las regiones tienen un solo tipo de terreno
			</span>
			<span>
				Los terrenos y su causa con los siguientes
			</span>
			
			<Table
				data={terrenos}
			/>
			

		</section>

		<section>
			<h2>
				Armas	
			</h2>
			<span>
				Solo hay dos tipos de armas terrestres y aereas.
			</span>
			<div class="flex-row">
				<Table 
					data={rangoMilitar}
				/>
				<div>
					<Table
						data={armaTierra}
					/>
				</div>
			</div>
		</section>

		<section>
			<h2>
				Construccion	
			</h2>
			<span>
				La construccion esta determinada segun las siguientes tablas, tienes la posibilidad de donar objetos o energia/stamina.
			</span>
			<div class="flex-row">
				<Table
					title="Material -> Aporte"
					data={tablaAportes}
				/>
				<Table
					title="Coste de puntos y recompensa"
					data={costeYBeneficios}
				/>
			</div>



			<h3>Bonos de estructuras y Rangos de construccion</h3>
			<div class="flex-row">
				<Table
					title="Bonos de estructuras"
					data={macroEstructuras}
				>

				</Table>
				<Table 
					title="Rango y multiplicador"
					data={rangosConstruccion}></Table>
			</div>
		</section>

		<section>
			<h2>
				Unidad Militar	
			</h2>
			<span>
				La construccion esta determinada segun las siguientes tablas, tienes la posibilidad de donar objetos o energia/stamina.
			</span>

			<Table
				title="Datos Unidad Militar"
				data={unidadMilitar}/>
		</section>

	</main>
</div>